@import "../common/base";
@import "../layout/header";
@import "../layout/footer";

.banner {
    margin-top: 90px;

    .content {
        position: relative;
        background-image: linear-gradient(to right, $white, rgba(255, 255, 255, 0.92)), url("../../src/img/banner.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        display: flex;
        align-items: center;
        padding-top: 5rem;
        overflow: hidden;

        .content-left {
            h3 {
                font-size: 50px;
                line-height: 57.5px;
                color: $title-color;
                font-weight: $text-bold;

                @media (max-width: 568px) {
                    font-size: 40px;
                    line-height: 45px;
                }

                @media (max-width: 375px) {
                    font-size: 35px;
                }
            }

            p {
                color: $text-color;
                font-size: $text-md;
                line-height: 28px;
                font-weight: $text-regular;
                max-width: 450px;
            }
        }

        .content-right {
            img {
                transform: rotate(180deg);

                @media (max-width: 992px) {
                    display: block;
                }
            }
        }
    }
}

.tools {
    .tools-item {
        border: 1px solid $bg-color-light;
        border-radius: 6px;
        background-color: $bg-color-light;
        padding: 3rem 2rem;
        transition: 0.3s ease-in;

        h3 {
            color: $title-color !important;
            font-size: 26px;
            font-weight: $text-bold;
            line-height: 35px;
            margin: 1rem 0;
        }

        p {
            color: $text-color !important;
            font-size: $text-base;
            line-height: 24.5px;
            margin: 15px 0 0;
        }

        &:hover {
            border: 1px solid #eee;
            box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.09);
            background-color: $white;
            transform: translateY(-4%);
        }
    }
}

.about {
    background-color: $bg-color-light;

    .about-left {
        .title-section {
            h3 {
                font-size: 35px;
                line-height: 40px;
            }
        }
    }

    .about-right {
        img {
            border-radius: 6px;
            box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, .15);
        }
    }
}