@import "../common/base";
@import "../layout/header";
@import "../layout/footer";

.banner {
    margin-top: 90px;

    .content {
        position: relative;
        background-image: linear-gradient(to right, $white, rgba($white, 0.92)), url("../../src/img/banner.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        display: flex;
        align-items: center;
        padding-top: 5rem;
        overflow: hidden;

        .content-left {
            h3 {
                font-size: 50px;
                line-height: 57.5px;
                color: $title-color;
                font-weight: $text-bold;

                @media (max-width: 568px) {
                    font-size: 40px;
                    line-height: 45px;
                }

                @media (max-width: 375px) {
                    font-size: 35px;
                }
            }

            p {
                color: $text-color;
                font-size: $text-md;
                line-height: 28px;
                font-weight: $text-regular;
                max-width: 450px;
            }
        }

        .content-right {
            img {
                transform: rotate(180deg);

                @media (max-width: 992px) {
                    display: block;
                }
            }
        }
    }
}

.tools {
    .tools-item {
        border: 1px solid $bg-color-light;
        border-radius: 6px;
        background-color: $bg-color-light;
        padding: 3rem 2rem;
        transition: 0.3s ease-in;

        h3 {
            color: $title-color !important;
            font-size: 26px;
            font-weight: $text-bold;
            line-height: 35px;
            margin: 1rem 0;
        }

        p {
            color: $text-color !important;
            font-size: $text-base;
            line-height: 24.5px;
            margin: 15px 0 0;
        }

        &:hover {
            border: 1px solid #eee;
            box-shadow: 0 0.5rem 1rem rgba($black, 0.09);
            background-color: $white;
            transform: translateY(-4%);
        }
    }
}

.about {
    background-color: $bg-color-light;

    .about-left {
        .title-section {
            h3 {
                font-size: 35px;
                line-height: 40px;
            }
        }
    }

    .about-right {
        img {
            border-radius: 6px;
            box-shadow: 0 0.5rem 1rem rgba($black, .15);
            transition: 0.5s all;

            &:hover {
                transform: translateY(-4%);
            }
        }
    }
}

.stats {
    background-color: $bg-color-light;

    .stats-item {
        background-color: $white;
        padding: 2rem;
        border: 1px solid #eee;
        border-radius: 6px;
        box-shadow: 1px 5px 7.5px rgba(196, 196, 196, 0.2);
        transition: 0.5s all;

        h5 {
            color: $title-color;
            font-size: $text-base;
            font-weight: $text-bold;
            line-height: 24.5px;
            text-transform: capitalize;
        }

        span {
            color: $primary;
            font-size: 50px;
            font-weight: $text-bold;
            line-height: 1;
            margin: 10px 0 15px 0;
            display: block;
        }

        p {
            color: $text-color;
            margin: 0;
        }

        &:hover {
            box-shadow: 0 0.5rem 1rem rgba($black, 0.09);
        }

        @media (max-width: 992px) {
            h5 {
                font-size: 18px;
            }

            span {
                font-size: 40px;
                line-height: 50px;
            }
        }

        @media (max-width: 737px) {
            h5 {
                font-size: 17px;
            }
        }
    }
}

.slogan {
    min-height: 480px;
    background-image: linear-gradient(to right, rgba($black, .7), rgba($black, .33)), url(../../src/img/bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding: 2rem 0;

    .content {
        max-width: 550px;

        h3 {
            color: $white;
            font-size: 30px;
            font-weight: $text-bold;
            line-height: 36px;
        }

        p {
            font-size: $text-base;
            color: #eee;
            line-height: 24.5px;
        }
    }
}

.blog {
    .blog-item {
        height: 100%;
        background: $white;
        border: 1px solid #eee;
        border-radius: 6px;
        transition: 0.3s ease-in;

        a {
            display: block;
            position: relative;
            overflow: hidden;
            border-top-right-radius: 6px;

            img {
                border-top-left-radius: 6px;
                border-top-right-radius: 6px;
                filter: grayscale(1);
                transition: 0.3s all;
            }

            p {
                color: $white;
                font-size: 18px;
                font-weight: $text-bold;
                line-height: 24.5px;
                background-color: $primary;
                position: absolute;
                top: 0;
                right: 0;
                margin: 0;
                padding: 15px;
            }
        }

        .content {
            background: $white;
            padding: 30px 20px;
            border-radius: 6px;

            span {
                display: inline-block;
                font-size: 13px;
                font-weight: $text-semiBold;
                border-radius: 25px;
                padding: 5px 16px;
                margin-bottom: 15px;

                &.tag-red {
                    background-color: rgba(238, 97, 120, .2);
                    color: $primary;
                }

                &.tag-green {
                    background-color: rgba(0, 128, 0, .2);
                    color: #008000;
                }

                &.tag-blue {
                    background-color: rgba(0, 0, 255, 0.2);
                    color: #0000ff;
                }
            }

            h4 {
                a {
                    color: $title-color;
                    font-size: 22px;
                    font-weight: $text-semiBold;
                    line-height: 27px;
                }
            }

            p {
                color: $text-color;
                font-size: $text-base;
                line-height: 24.5px;
                border-bottom: 1px solid #eee;
                margin: 15px 0 20px 0;
                padding-bottom: 20px;
            }
            
            a {
                color: $primary;
                font-size: $text-base;
                font-weight: $text-semiBold;
                border-radius: 0;
                padding: 0;

                i {
                    font-size: 70%;
                    padding-left: 0;
                    transition: 0.3s all;
                }
            }
        }

        &:hover {
            box-shadow: 0 0.5rem 1rem rgba($black, 0.09);
            transform: translateY(-2%);

            a {
                img {
                    filter: grayscale(0);
                }
            }

            .content {
                h4 {
                    a {
                        color: $primary;
                    }
                }
                a {
                    i {
                        transform: translateX(30%);
                    }
                }
            }
        }
    }
}