@import "./../common/_base";
@import "./../layout/_header";
@import "./../layout/_breadcrumb";
@import "./../layout/_footer";


.services {
    

    h3 {
        font-weight: $text-extraBold;
    }

    .content {
        h1 {
            font-size: 2.625rem;
            font-weight: $text-semiBold;
            padding-bottom: 1.875rem;
        }

        span {
            font-size: $text-lg;
            color: #909090;
            line-height: 1.875rem;
        }

        button {
            padding: 0 1.875rem;
        }
    }

    .content-right {
        a {
            display: block;
            width: 80px;
            height: 80px;
            line-height: 80px;
            border-radius: 50%;
            background-color: #F7F9FC;
            text-align: center;
            box-shadow: 1px 5px 7.5px rgba(196, 196, 196, 0.2);
        }

        h4 {
            font-family: var(--font-accent);
            font-size: $text-md;
            font-weight: $text-bold;
            cursor: pointer;

            &:hover {
                color: $primary;
            }
        }

    }
}

.products {
    background-color: #F7F9FC;

    .content {
        .item {
            font-size: $text-md;
            font-weight: $text-bold;
            width: 40px;
            height: 40px;
            line-height: 40px;
            background-color: $white;
            border-radius: 50%;
            box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.09);
        }

        h3 {
            font-size: 1.125rem;
            font-weight: $text-extraBold;
            font-family: var(--font-accent);
            margin-bottom: 0.25rem;
            cursor: pointer;
            transition: 0.3s all;

            &:hover {
                color: $primary;
            }
        }

        p {
            margin: 0;
        }

        .col-center {
            transition: all 0.3s;

            &:hover {
                transform: translateY(-0.5rem);
            }
        }
    }

}

.features {
    .item {
        padding: 2rem;

        h3 {
            font-size: 2.375rem;
            font-weight: $text-bold;
            margin-bottom: 0.625rem;
        }
    }
    
    li {
        font-weight: $text-semiBold;

        i {
            font-size: 10px;
            background-color: rgba(220, 79, 114, 0.1);
            opacity: 0.5;
            font-weight: 700;
        }
    }

    img {
        transition: 0.3s all;

        &:hover {
            transform: translateY(-0.5rem);
        }
    }
}