

// Button, input, table, text 
@mixin Text($fs: $text-base, $fw: $text-regular, $c: $c1-700) {
    font-size: $fs;
    font-weight: $fw;
    color: $c;
}

@mixin Button($bg, $border, $radius, $height, $padding, $shadow) {
    background: $bg;
    border: $border;
    border-radius: $radius;
    height: $height;
    padding: $padding;
    box-shadow: $shadow;
    transition: 0.5s all;
    cursor: pointer;
}