$primary: #dc4f72;
$primary-color-light: #FD4766;
$primary-color-dark: #d62f58;

$text-color: #5a5a5a;
$title-color: #2C3038;

$light-bg-color: #F7F9FC;

$text-xs: 0.75rem;
$text-sm: 0.875rem;
$text-base: 1rem;
$text-md: 1.25rem;
$text-lg: 1.5rem;
$text-xl: 2rem;
$text-2xl: 3rem;
$text-3xl: 4rem;
$text-4xl: 5rem;

$text-light: 300;
$text-regular: 400;
$text-medium: 500;
$text-semiBold: 600;
$text-bold: 700;
$text-extraBold: 800;
$text-black: 900;

// Breakpoint define:
$XS:     480px;   
$SM:     576px;  
$MD:     768px;  
$LG:     992px;   
$XL:    1200px;   
$XXL:   1280px;  

